{% extends 'flatpages/default.html' %}

{% load custom_tags %}

{% block content %}
    <h1 class="text-center my-4">Все объявления</h1>
    <style>
        .banner-container {
            margin-top: 20px;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 15px;
        }
        .banner {
            padding: 15px;
            margin: 15px 0;
            width: 350px;
            height: 430px;
            border: 1px solid #ddd;
            justify-content: space-between;
            border-radius: 5px;
            background-color: #f9f9f9;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            transition: transform 0.3s;
        }
        .banner:hover {
            transform: scale(1.02);
        }
        .banner-title {
            font-size: 24px;
            font-weight: bold;
            height: 70px;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        .banner-content {
            margin-top: 10px;
            font-size: 16px;
            height: 275px;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        .banner-content img, .banner-content iframe {
            max-width: 100%;
            height: auto; 
        }
        .banner-footer {
            margin-top: 15px;
            font-size: 12px;
            align-self: end;
            color: #6c757d;
        }
        .banner-title a {
            color: #000000;
            text-decoration: none;
        }
        .banner-title a:hover {
            color: #c70039;
            text-decoration: underline;  
        }
    </style>
        
        {# Кнопка создания нового объявления #}
            {% if user.is_authenticated %}
                <h2 class="text-center my-4">
                    <a href="{% url 'post-create' %}" class="btn-custom">Новое объявление</a>
                </h2>
            {% endif %}

        <style>
            .btn-custom {
                display: inline-block;
                padding: 10px 20px;
                font-size: 18px;
                text-decoration: none;
                background-color: #007bff;
                color: white;
                border-radius: 5px;
                transition: transform 0.3s, background-color 0.3s;
            }
            .btn-custom:hover {
                background-color: #0056b3;
                transform: scale(1.02);
                color: white;
            }
        </style>

    {# Отображение баннеров #}
    <div class="banner-container">
        {% for post in posts %}
        <div class="banner">
            <div class="banner-title">
                <a href="{% url 'post-detail' post.id %}" class="text-decoration-none">{{ post.title }}</a>
            </div>
            <div class="banner-content">
                {{ post.clean_content|safe|truncatechars:2056 }} 
                {# контент заранее отфильтрован, отключаем последующую экранизацию #} 
            </div>
            <div class="banner-footer">
                <span>Автор: {{ post.author.name }}</span> |
                <span>Категория: {{ post.get_category_display }}</span> |
                <span>Дата создания: {{ post.created_at|date:"d.m.Y / H:i" }}</span>
            </div>
        </div>
        {% endfor %}
    </div>
    
    
    {# Пагинация #}
    {% if page_obj.has_previous %}
       {# Для каждой ссылки пагинации указываем обработку через новый тег #}
       <a href="?{% url_replace page=1 %}">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {{ page_obj.number }}

   {% if page_obj.has_next %}
       <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}
    
{% endblock content %}
