{% extends 'flatpages/default.html' %}

{% block title %}
Post
{% endblock title %}

{% block content %}

<h1>{{ post.title }}                  
    {{ post.created_at|date:"d.m.Y" }}
</h1>
<h2>{{ post.clean_content|safe }}</h2>  {# контент заранее отфильтрован, отключаем последующую экранизацию #}  
    
    {% if request.user == post.author.user %}
        <h2 
            class="text-center my-4">
                <a href="{% url 'post-update' post.pk %}" class="btn-custom">Редактировать</a>
            
                <a href="{% url 'post-delete' post.pk %}" class="btn-custom">Удалить</a>
        </h2>
    {% else %}
        <h3
            class="text-center my-4">
                <a href="{% url 'response-create' post_id=post.id %}" class="btn-custom">Откликнуться</a>
        </h3>
    {% endif %}
    
{% endblock content %}